doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.index)
  body.page
    |%=symbols=%

    .wrapper
      .preloader
        .preloader__img-wrap
          img.preloader__img(src="%=static=%img/content/logo.svg")
      .content
        header.page-header.page-header--home#rowTop
          .page-header__row-top.page-header__row-top--home
            .container.row.row--media890-jc-c
              button.hamburger.hamburger--spin(type="button")
                span.hamburger-box
                  span.hamburger-inner
              .logo
                a.logo__text(href="index.html") ZG Investment
                  span.m--l5 & Consulting Ltd
              nav.main-nav.grow.row.row--ai-c
                ul.main-nav__list.main-nav__list--mobileHidden.row.m--l-a
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="index.html") Home
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="services.html") Services
                  li.main-nav__items
                    a.main-nav__item.main-nav__item--active.text.text--white14.text--fw600(href="about.html") About
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="contact-us.html") Contact us
              .socials.socials--header.row.row--ai-c.m--l30
                a.socials__items.socials__items--fb(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'facebook'})
                a.socials__items.socials__items--tw(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'twitter'})
                a.socials__items.socials__items--inst(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'instagram'})
          .slider.owl-carousel.owl-theme
            .slider__slide
              picture
                source(media="(max-width: 1024px) and (min-width: 501px)" srcset="%=static=%img/content/slider-img1-about-tablet.jpg")
                source(media="(max-width: 500px)" srcset="%=static=%img/content/slider-img1-about-mobile.jpg")
                img.slider__slide-img(src="%=static=%img/content/slider-img1-about.jpg" alt="slide1")
              .slider__slide-text-block.column.column--jc-c
                .container
                  h2.slider__headline.text.text--white50.text--fw200.m--b30.text--media768-center Who we are?
                  p.slider__text.text.text--white16.text--fw300.text--lh24.m--b40.b--w670.text--media768-center.b--media768-w-a Due to extensive experience in the field of aviation and logistics, with overall more than 15 years of experience on aviation market, carrying out long-term and short-term charter contracts, and working on different aviation projects around the globe.
                  p.slider__text.text.text--white16.text--fw300.text--lh24.m--b40.b--w670.text--media768-center.b--media768-w-a We have decided to establish a new company, which will focus on providing consulting services, advisory services as well as providing aviation support, for the newly created or small start-up aviation companies. Our goal is simple; We are planning to help and support young and small aviation companies, or start-up aviation companies, in order to increase their efficiency and their recognizability in the world of aviation
            .slider__slide
              picture
                source(media="(max-width: 1024px) and (min-width: 501px)" srcset="%=static=%img/content/slider-img2-about-tablet.jpg")
                source(media="(max-width: 500px)" srcset="%=static=%img/content/slider-img2-about-mobile.jpg")
                img.slider__slide-img(src="%=static=%img/content/slider-img2-about.jpg" alt="slide2")
              .slider__slide-text-block.column.column--jc-c
                .container
                  p.slider__text.text.text--white16.text--fw300.text--lh24.m--b20.b--w770.text--media768-center.b--media768-w-a
                    span What we do
                  .slider__list-wrap.slider__list-wrap--hidden 
                    ul.slider__list.slider__list--1
                      li.slider__list-items We see things that others miss, offering you more creative solutions that combine our deep geographic experience, intimate sector knowledge and clear insights into how to create value in your business.
                      li.slider__list-items We work collaboratively, build lasting capabilities into your team and help your organization mobilize for change.
                      li.slider__list-items We define our success by your results. We care deeply about our clients. 
                    ul.slider__list.slider__list--2
                      li.slider__list-items.slider__list-items--no-mark We help our clients with their most complex strategic challenges and business issues. We build tailored solutions to help them achieve sustained growth and emphasize mobilization from day one. We begin by helping clients choose where to focus so they can out-execute and out-invest their competitors on the market.
                  .slider__list-dropdown-button-wrap.row.row--jc-c.row--ai-c.hidden
                    span.slider__list-dropdown-button
                    
          .page-header__row-bottom
            .container
              .logo
                a.logo__link(href="index.html")
                  .logo__img-wrap
                    img.logo__img(src="%=static=%img/content/logo-footer.svg")
          
        main.page-content.page-content--home
        
          .home
            a.home__scroll-top.home__scroll-top--hidden(href="#rowTop")
              span.scroll-top-arrow
                
      footer.page-footer
        .footer-content
                  
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='%=static=%js/separate-js/owl.carousel.min.js')
    script(src='%=static=%js/separate-js/noframework.waypoints.min.js')

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')