doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.contact)
  body.page
    |%=symbols=%

    .wrapper
      .content.column
        header.page-header#rowTop
          .page-header__row-top.page-header__row-top--inner#rowTop
            .container.row
              button.hamburger.hamburger--spin(type="button")
                span.hamburger-box
                  span.hamburger-inner
              .logo
                a.logo__text.text.text--fw700(href="index.html") ZG Investment
                  span.m--l5 & Consulting Ltd
              nav.main-nav.grow.row.row--ai-c
                ul.main-nav__list.main-nav__list--mobileHidden.row.m--l-a
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="index.html") Home
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="services.html") Services
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="about.html") About
                  li.main-nav__items
                    a.main-nav__item.main-nav__item--active.text.text--white14.text--fw600(href="contact-us.html") Contact us
              .socials.socials--header.row.row--ai-c.m--l30
                a.socials__items.socials__items--fb(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'facebook'})
                a.socials__items.socials__items--tw(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'twitter'})
                a.socials__items.socials__items--inst(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'instagram'})
        main.page-content.grow.column
        
          .home
            a.home__scroll-top.home__scroll-top--hidden(href="#rowTop")
              span.scroll-top-arrow
                
          .contact-us.grow.row
            form.contact-us__form.m--b10(action="action.php" method="post")
              ul.contact-us__form-list
                li.contact-us__form-list-items.m--b20
                  .m--b20
                    label.contact-us__form-list-label.text.text--grayLowLight16.text--fw300.m--b10.text--media1190-center(for="name") Your name:
                    .contact-us__form-input-wrap
                      input.contact-us__form-input.text.text--grayLowLight14.text--fw300.text--media1190-center(type="text" placeholder="Enter please your name" required)#name
                  .m--b20
                    label.contact-us__form-list-label.text.text--grayLowLight16.text--fw300.m--b10.text--media1190-center(for="email") Your email:
                    .contact-us__form-input-wrap
                      input.contact-us__form-input.text.text--grayLowLight14.text--fw300.text--media1190-center(type="email" placeholder="Enter please your email" required)#email
                  .b
                    label.contact-us__form-list-label.text.text--grayLowLight16.text--fw300.m--b10.text--media1190-center(for="phone") Your phone:
                    .contact-us__form-input-wrap
                      input.contact-us__form-input.text.text--grayLowLight14.text--fw300.text--media1190-center(type="tel" placeholder="Enter please your phone" required)#phone
                li.contact-us__form-list-items.m--b20
                  label.contact-us__form-list-label.text.text--grayLowLight16.text--fw300.m--b10.text--media1190-center(for="mesage") Your message:
                  .contact-us__form-textarea-wrap
                    textarea.contact-us__form-input.contact-us__form-input--textarea.text.text--grayLowLight14.text--fw300.text--media1190-center(placeholder="Enter please your message" required)#mesage
                li.contact-us__form-list-items.row.row--jc-c
                  .b--w155.b--media470-w-resize100
                    button.contact-us__button.button.button--fill-blueLowLight.button--p-tb10.text.text--white13.text--fw400.text--uppercase(type="submit") Submit
            .contact-us__map
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10887.285873822388!2d28.86193345!3d46.984841149999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1525968567542" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
              
                    
            
        
      footer.page-footer
        .footer-content
          .container.row.row--jc-sb.row--ai-c
            .logo
              a.logo__link(href="index.html" tabindex="0")
                .logo__img-wrap
                  img.logo__img(src="%=static=%img/content/logo.svg")
            .socials.socials--footer.row.row--ai-c
              a.socials__items.socials__items--fb(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'facebook'})
              a.socials__items.socials__items--tw(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'twitter'})
              a.socials__items.socials__items--inst(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'instagram'})

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='%=static=%js/separate-js/noframework.waypoints.min.js')

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
