doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.index)
  body.page
    |%=symbols=%

    .wrapper
      .preloader
        .preloader__img-wrap
          img.preloader__img(src="%=static=%img/content/logo.svg")
      .content
        header.page-header.page-header--home#rowTop
          .page-header__row-top.page-header__row-top--home
            .container.row
              button.hamburger.hamburger--spin(type="button")
                span.hamburger-box
                  span.hamburger-inner
              .logo
                a.logo__text.text.text--fw700(href="index.html") ZG Investment
                  span.m--l5 & Consulting Ltd
              nav.main-nav.grow.row.row--ai-c
                ul.main-nav__list.main-nav__list--mobileHidden.row.m--l-a
                  li.main-nav__items
                    a.main-nav__item.main-nav__item--active.text.text--white14.text--fw600(href="index.html") Home
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="services.html") Services
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="about.html") About
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="contact-us.html") Contact us
              .socials.socials--header.row.row--ai-c.m--l30
                a.socials__items.socials__items--fb(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'facebook'})
                a.socials__items.socials__items--tw(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'twitter'})
                a.socials__items.socials__items--inst(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'instagram'})
          .slider.owl-carousel.owl-theme
            .slider__slide
              picture
                source(media="(max-width: 1235px)" srcset="%=static=%img/content/slider-img1.jpg")
                img.slider__slide-img(src="%=static=%img/content/slider-img1.jpg" alt="slide1")
              .slider__slide-text-block.column.column--jc-c
                .container
                  h2.slider__headline.text.text--white50.text--fw200.m--b5 ZG Investment & Consulting Ltd
                  h3.slider__title.text.text--white50.text--fw600.m--b25 We can assist You in This!
                  p.slider__text.text.text--white16.text--fw300.m--b40 Our skilled team of experts will provide You with top business plans!
                  .b--w230.b--media768-center
                    a.slider__button.button.button--fill-blueLight.button--p-tb17.text.text--white13.text--fw500.text--uppercase(href="contact-us.html") Contact us
            .slider__slide
              picture
                source(media="(max-width: 480px)" srcset="%=static=%img/content/slider-img2.jpg")
                img.slider__slide-img(src="%=static=%img/content/slider-img2.jpg" alt="slide2")
              .slider__slide-text-block.column.column--jc-c
                .container
                  h2.slider__headline.text.text--white50.text--fw200.m--b5 Strategic, Adaptable and
                  h3.slider__title.text.text--white50.text--fw600.m--b25 Tenacious at What We Do!
                  p.slider__text.text.text--white16.text--fw300.m--b40 Be sure that Your business will keep being profitable at any time!
                  .b--w230.b--media768-center
                    a.slider__button.button.button--fill-blueLight.button--p-tb17.text.text--white13.text--fw500.text--uppercase(href="services.html") Learn more about us
          
        main.page-content.page-content--home
          .home.home--home.row
            
            a.home__scroll-top.home__scroll-top--hidden(href="#rowTop")
              span.scroll-top-arrow
            .home__features-text-wrap
              h2.home__features-text-title.text.text--center.text--uppercase.m--b80 ZG Investment & Consulting Ltd
              p.home__features-text.text.text--grayLowLight30.text--fw300 We are new established company, registered in Gibraltar, our goal is to match the various requirements that potential customers may have with efficient options and turn-key solutions today, in order to provide our customers with some beneficial long term possibilities for tomorrow.
            .home__bg1
                
      footer.page-footer
        .footer-content
          .container.row.row--jc-sb.row--ai-c
            .logo
              a.logo__link(href="index.html")
                .logo__img-wrap
                  img.logo__img(src="%=static=%img/content/logo.svg")
            .socials.socials--footer.row.row--ai-c
              a.socials__items.socials__items--fb(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'facebook'})
              a.socials__items.socials__items--tw(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'twitter'})
              a.socials__items.socials__items--inst(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'instagram'})

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='%=static=%js/separate-js/owl.carousel.min.js')
    script(src='%=static=%js/separate-js/noframework.waypoints.min.js')

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')