doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.index)
  body.page
    |%=symbols=%

    .wrapper
      .preloader
        .preloader__img-wrap
          img.preloader__img(src="%=static=%img/content/logo.svg")
      .content
        header.page-header.page-header--home#rowTop
          .page-header__row-top.page-header__row-top--home
            .container.row.row--media890-jc-c
              button.hamburger.hamburger--spin(type="button")
                span.hamburger-box
                  span.hamburger-inner
              .logo
                a.logo__text(href="index.html") ZG Investment
                  span.m--l5 & Consulting Ltd
              nav.main-nav.grow.row.row--ai-c
                ul.main-nav__list.main-nav__list--mobileHidden.row.m--l-a
                  li.main-nav__items
                    a.main-nav__item.main-nav__item--active.text.text--white14.text--fw600(href="index.html") Home
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="services.html") Services
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="about.html") About
                  li.main-nav__items
                    a.main-nav__item.text.text--white14.text--fw600(href="contact-us.html") Contact us
              .socials.socials--header.row.row--ai-c.m--l30
                a.socials__items.socials__items--fb(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'facebook'})
                a.socials__items.socials__items--tw(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'twitter'})
                a.socials__items.socials__items--inst(href="#")
                  != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'instagram'})
          .slider.owl-carousel.owl-theme
            .slider__slide
              picture
                source(media="(max-width: 768px and min-width: 501px)" srcset="%=static=%img/content/slider-img1-tablet.jpg")
                source(media="(max-width: 500px)" srcset="%=static=%img/content/slider-img1-mobile.jpg")
                img.slider__slide-img(src="%=static=%img/content/slider-img1.jpg" alt="slide1")
              .slider__slide-text-block.column.column--jc-c
                .container
                  h2.slider__headline.text.text--white50.text--fw200.m--b30.text--media768-center ZG Investment & Consulting Ltd
                  h3.slider__title.text.m--b40.m--l250.m--media768-l0.text--media768-center
                    span - 
                    | "Together, we create enduring change and results."
                  .b--w230.b--media768-center
                    a.slider__button.button.button--p-tb17.text.text--white13.text--fw500.text--uppercase(href="contact-us.html") Contact us
            .slider__slide
              picture
                source(media="(max-width: 480px)" srcset="%=static=%img/content/slider-img2.jpg")
                img.slider__slide-img(src="%=static=%img/content/slider-img2.jpg" alt="slide2")
              .slider__slide-text-block.column.column--jc-c
                .container
                  h2.slider__headline.text.text--white50.text--fw200.m--b25.text--media768-center ZG Investment & Consulting Ltd
                  p.slider__text.text.text--white16.text--fw300.text--lh24.m--b40.b--w480.text--media768-center.b--media768-w-a We are new established company, registered in Gibraltar, our goal is to match the various requirements that potential customers may have with efficient options and turn-key solutions today, in order to provide our customers with some beneficial long term possibilities for tomorrow.
                  .b--w230.b--media768-center
                    a.slider__button.button.button--p-tb17.text.text--white13.text--fw500.text--uppercase(href="services.html") Learn more about us
            .slider__slide
              picture
                source(media="(max-width: 480px)" srcset="%=static=%img/content/slider-img3-mobile.jpg")
                img.slider__slide-img(src="%=static=%img/content/slider-img3.jpg" alt="slide2")
              .slider__slide-text-block.column.column--jc-c
                .container
                  h2.slider__headline.text.text--white50.text--fw200.m--b25.text--media768-center ZG Investment & Consulting Ltd
                  p.slider__text.text.text--white16.text--fw300.text--lh24.m--b40.b--w560.text--media768-center.b--media768-w-a Our management consulting services focus on most critical issues and opportunities: strategy, organization, operations, aviation brokerage, aviation logistics, advanced analytics,  and sustainability across all industries and geographies. We bring deep, functional expertise in every aspect of our service.
                  .b--w230.b--media768-center
                    a.slider__button.button.button--p-tb17.text.text--white13.text--fw500.text--uppercase(href="services.html") Learn more about us
                    
          .page-header__row-bottom
            .container
              .logo
                a.logo__link(href="index.html")
                  .logo__img-wrap
                    img.logo__img(src="%=static=%img/content/logo-footer.svg")
          
        main.page-content.page-content--home
        
          .home
            a.home__scroll-top.home__scroll-top--hidden(href="#rowTop")
              span.scroll-top-arrow
                
      footer.page-footer
        .footer-content
                  
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='%=static=%js/separate-js/owl.carousel.min.js')
    script(src='%=static=%js/separate-js/noframework.waypoints.min.js')

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')