// Common styles of the project

html,
body
  height 100%
  
body
  background-color #f1f1f1
  
.page
  &--navOpen
    overflow hidden

.wrapper
  display flex
  flex-direction column
  height 100%

.content
  flex 1 0 auto

.page-footer
  flex 0 0 auto
  
.container
  margin 0 auto
  padding 0 3%
  
img
  width 100%
  height auto
  
@media(max-width: 1200px)
  .container
    width auto
    padding 0 1.724137931034483%
