.home
  &--home
    max-width 1920px
    margin 0 auto
    height 100vh
    padding-top 100px
    
.home__scroll-top
  position fixed
  right 30px
  bottom 70px
  z-index 20
  
  display flex
  justify-content center
  align-items center
  width 44px
  height 44px
  
  background-color blueLight
  
  border-radius 50%
  
  transition all 0.2s ease
  &:hover
    background-color gray
  &--hidden
    visibility hidden
    
    background-color transparent
    
    transition all 0.2s ease
    .scroll-top-arrow
      display none
    
.scroll-top-arrow
  position relative
  
  display block
  width 10px
  height 10px
  &::before,
  &::after
    position absolute
    top 0
    bottom 0
    
    content ''
    
    width 100%
    height 2px
    margin auto
    
    background-color white
  &::before
    left 3px
    
    transform rotate(45deg)
  &::after
    right 3px
    
    transform rotate(-45deg)
    
.home__features-text-wrap
  box-sizing border-box
  width 50%
  padding-top 100px
  padding-left 1.724137931034483%
  padding-right 1.724137931034483%
    
.home__features-text-title
  font-family 'Courgette'
  font-size 40px
  line-height 60px
  font-weight 700
  
.home__bg1
  width 50%
  
  background-image url('%=static=%content/home-bg1.jpg')
  background-repeat no-repeat
  background-size cover
    
@media(max-width 1160px)
  .home__features-cart
    width 310px
    
@media(max-width 1030px)
  .home
    &--home
      flex-direction column
      padding-top 0
      
  .home__features-text-wrap
    width auto
    margin-bottom 30px
    
  .home__features-text-title
    margin-bottom 30px
    
  .home__bg1
    flex-grow 1
    width auto
    
@media(max-width 990px)
  .home__features-row-top
    display: block;
    margin-bottom 30px
    
  .home__features-cart
    width auto
    margin-bottom 20px
    &:last-child
      margin-bottom 0
      
@media(max-width 768px)
  .home__features-text-wrap
    padding-top 50px
  
  .home__features-text-title
    margin-bottom 30px !important
    
    font-size 30px
    line-height 40px
    
  .home__features-text
    font-size 24px
    line-height 35px
    
@media(max-width 480px)
  .home__features-text-title
    font-size 23px
    line-height 26px
    
  .home__features-text
    font-size 20px
    line-height 28px
    
@media(max-width 375px)
  .home__features-text-wrap
    padding-top 30px
  
  .home__features-text-title
    margin-bottom 15px !important
    
    font-size 20px
    