.logo__link
  display block
  
.logo__img
  width 50px

.logo__text
  font-size 24px
  line-height 27px
  color white
  text-decoration none
  
@media(max-width 520px)
  .logo__text
    font-size 17px
@media(max-width 325px)
  .logo__text
    font-size 14px