.logo__link
  display block
  
.logo__img
  width 50px

.logo__text
  font-family 'Courgette'
  font-size 24px
  line-height 27px
  color blueLight
  
@media(max-width 520px)
  .logo__text
    span
      display none