.page-header
  position relative
  &--home
    height 100vh
  
.page-header__row-top
  padding 20px 0
  &--home
    position absolute
    top 0
    left 0
    right 0
    z-index 15
    
    background-color rgba(25, 25, 26, 0.7)
  &--inner
    background-color #19191a
    
.page-header__row-bottom
  position: absolute;
  left 0
  right 0
  bottom 0
  z-index 10
  
  padding-top 20px
  padding-bottom 20px
  
  background-color rgba(25, 25, 26, 0.7)
    
@media(max-width 880px)
  .page-header__row-top
    &--home
      position static
      
      background-color rgba(25, 25, 26, 0.9)
      
      border-bottom none
    &--inner
      background-color rgba(25, 25, 26, 0.9)
      
@media(max-width 890px)
  .page-header
    padding-top 67px
  
  .page-header__row-top
    position fixed
    top 0
    left 0
    right 0
    z-index 50
    .container
      position relative
      
      justify-content center