.page-header
  position relative
  &--home
    height 100vh
  
.page-header__row-top
  padding 20px 0
  &--home
    position absolute
    top 0
    left 0
    right 0
    z-index 15
    
    background-color rgba(25, 25, 26, 0.7)
  &--inner
    background-color #19191a
    
.page-header__row-bottom
  position: absolute;
  left 0
  right 0
  bottom 0
  z-index 10
  
  padding-top 10px
  padding-bottom 10px
  
  background-color rgba(25, 25, 26, 0.7)
  
@media(max-width 1024px)
  .page-header
    &--contact-us
      height 100vh
      
@media(max-width 420px)
  .page-header__row-top
    &--home
      position relative
      top auto
      left auto
      bottom auto
      
      background-color rgba(25,25,26,0.9)
      
  .page-header__row-bottom
    position static
    
    background-color rgba(25,25,26,0.9)