.slider
  position relative
  z-index 10
  
.slider__title
  font-family 'Great Vibes'
  font-size 34px
  font-weight 400
  color white
  
.owl-carousel.owl-loaded
  position relative
  z-index 10
  
.owl-dots
  position absolute
  left: 0;
  right: 0;
  bottom: 10%;

.owl-theme .owl-dots .owl-dot
  &:active
    outline none

.owl-theme .owl-dots .owl-dot.active
  outline none
  span
    background-color white
    
.slider__slide-text-block
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  
.owl-theme .owl-dots .owl-dot span
  background-color #696969
  
.slider__button
  background-color #696969
  
  transition 0.2s ease
  &:hover
    background-color #292929
    
.slider__slide-img
  height 100vh
  
.slider__text
  span
    font-size 21px
    line-height 25px
    font-weight 700
    
.slider__list-wrap
  &--hidden
    .slider__list
      &--1
        position static
        
        visibility visible
        width auto
        height auto
        
        opacity 1
      &--2
        position absolute

        visibility hidden
        width 1px
        height 1px

        opacity 0
        
.slider__list
  min-height 110px !important
  &--1
    position absolute

    visibility hidden
    width 1px
    height 1px

    opacity 0

    transition opacity 0.8s ease
  &--2
    transition opacity 0.8s ease

.slider__list
  reset-list()
  
.slider__list-items
  font-size 16px
  line-height 19px
  color white
    
.slider__list-items
  position relative
  
  margin-bottom 5px
  padding-left 10px
  &:last-child
    margin-bottom 0
  &::before
    content ''
    
    position absolute
    top 5px
    left -5px
    
    width 5px
    height 5px
    
    background-color white
    
    border-radius 50%
  &--no-mark
    &::before
      display none
      
.slider__slide-text-block
  .container
    position relative
      
.slider__list-dropdown-button-wrap
  position absolute
  left 0
  right 0
  bottom -40px
  
  align-items center
  height 30px
  margin auto
  
  cursor pointer
    
.slider__list-dropdown-button
  position relative
  
  display block
  width 15px
  height 10px
  &::before,
  &::after
    center-absolute()
    
    content ''
    
    width 60%
    height 1px
    
    background-color white
  &::before
    left -5px
    
    transform rotate(45deg)
  &::after
    right -6px
    
    transform rotate(-45deg)
  
@media(max-width 1300px)
  .slider__slide
    .container
      box-sizing border-box
      width 100%
  
  .owl-dots
    bottom: 70px
    
@media(max-width 1070px)
  .slider__headline
    font-size 30px
    line-height 33px
    
  .slider__title
    margin-bottom 10px !important
    
    font-size 30px
    line-height 33px
    
@media(max-width 990px)
  .owl-dots
    bottom 5%
    
@media(max-width 480px)
  .slider__text
    span
      font-size 19px
      line-height 24px
  
  .slider__title
    span
      display none
      
  .slider__list-wrap
    padding 0 10px
      
@media(max-width 360px)
  .owl-dots
    bottom 10%