.socials
  &--footer
    .socials__items
      &--fb,
      &--tw,
      &--inst
        .facebook,
        .twitter,
        .instagram
          fill grayLowLight
      &:hover
        .facebook,
        .twitter,
        .instagram
          fill white
  &--about
    .socials__items
      &--fb,
      &--tw,
      &--inst,
      &--g
        .facebook,
        .twitter,
        .instagram,
        .googlePlus
          fill blueLowLight
      &:hover
        .facebook,
        .twitter,
        .instagram,
        .googlePlus
          fill blueLowLight
        

.socials__items
  margin-right 15px
  &:last-child
    margin-right 0
  &--fb
    width 11px
    height 30px
    .facebook
      width 8px
      height 30px
      
      fill white
  &--tw
    width 18px
    height 30px
    .twitter
      width 18px
      height 30px
      
      fill white
  &--inst
    width 17px
    height 30px
    .instagram
      width 17px
      height 30px
      
      fill white
  &--g
    width 23px
    height 18px
    .googlePlus
      width 23px
      height 18px
      
      fill white
  &--fb,
  &--tw,
  &--inst,
  &--g
    .facebook,
    .twitter,
    .instagram,
    .googlePlus
      transition 0.2s ease
      &:hover
        fill #909090
        
@media(max-width 890px)
  .socials
    &--header
      display none