.b
  &--w560
    width 560px
  &--w445
    width 445px
  &--w375
    width 375px
  &--w370
    width 370px
  &--w365
    width 365px
  &--w355
    width 355px
  &--w340
    width 340px
  &--w230
    width 230px
  &--w200
    width 200px
  &--w180
    width 180px
  &--w170
    width 170px
  &--w155
    width 155px
  &--w145
    width 145px
  &--w120
    width 120px
  &--w115
    width 115px
    
  &--resize-w100
    width 100%
  
  &--fb765
    flex-basis 765px
  &--fb220
    flex-basis 220px
    
@media(max-width 1190px)
  .b
    &--media1190-w-a
      width auto
    
@media(max-width 1180px)
  .b
    &--media1180-w-a
      width auto
      
@media(max-width 1040px)
  .b
    &--media1040-w-a
      width auto
      
    &--media1040-resize80
      width 80%
    
    &--media1040-fb-a
      flex-basis auto
      
@media(max-width 1020px)
  .b
    &--media1020-w-a
      width auto
      
@media(max-width 768px)
  .b
    &--media768-center
      margin 0 auto
      
@media(max-width 600px)
  .b
    &--media600-w-a
      width auto
      
@media(max-width 530px)
  .b
    &--media530-w210
      width 210px
      
@media(max-width 470px)
  .b
    &--media470-w-resize100
      width 100%
