.button
  reset-button()
  
  box-sizing border-box
  display block
  width 100%
  
  text-align center
  
  border-radius 25px
  
  &--fill-blueLight
    background-color blueLight
  &--fill-blueLowLight
    background-color blueLowLight
  &--fill-grey
    background-color grey
    
  &--p-tb17
    padding-top 17px
    padding-bottom 17px
  &--p-tb10
    padding-top 10px
    padding-bottom 10px
    
  &--br5
    border-radius 5px
    