.m
  &--t-a
    margin-top auto
  
  &--l-a
    margin-left auto
  &--l250
    margin-left 250px
  &--l30
    margin-left 30px
  &--l5
    margin-left 5px
    
  &--r50
    margin-right 50px
  &--r20
    margin-right 20px
  &--r15
    margin-right 15px
  &--r5
    margin-right 5px

  &--b80
    margin-bottom 80px
  &--b60
    margin-bottom 60px
  &--b50
    margin-bottom 50px
  &--b40
    margin-bottom 40px
  &--b35
    margin-bottom 35px
  &--b30
    margin-bottom 30px
  &--b25
    margin-bottom 25px
  &--b20
    margin-bottom 20px
  &--b15
    margin-bottom 15px
  &--b10
    margin-bottom 10px
  &--b5
    margin-bottom 5px
    
@media (max-width 768px)
  .m
    &--media768-l0
      margin-left 0