.text
  reset()
  
  text-decoration none
  &--white50
    font-size 50px
    line-height 53px
    color white
  &--white30
    font-size 30px
    line-height 33px
    color white
  &--white21
    font-size 21px
    line-height 24px
    color white
  &--white18
    font-size 18px
    line-height 21px
    color white
  &--white16
    font-size 16px
    line-height 19px
    color white
  &--white14
    font-size 14px
    line-height 17px
    color white
  &--white13
    font-size 13px
    line-height 16px
    color white
    
  &--blueLight20
    font-size 20px
    line-height 23px
    color black
  
  &--blueLight24
    font-size 24px
    line-height 27px
    color blueLight
  &--blueLight14
    font-size 14px
    line-height 17px
    color blueLight
  &--blueLowLight36
    font-size 36px
    line-height 39px
    color blueLowLight  
  &--blueLight12
    font-size 12px
    line-height 15px
    color blueLight
  &--blueLowLight14
    font-size 14px
    line-height 17px
    color blueLowLight
    
  &--gray50
    font-size 50px
    line-height 53px
    color gray
  &--gray30
    font-size 30px
    line-height 33px
    color gray
  &--gray24
    font-size 24px
    line-height 27px
    color gray
  &--gray16
    font-size 16px
    line-height 19px
    color gray
    
  &--grayMedium30
    font-size 30px
    line-height 33px
    color grayMedium
  &--grayMedium16
    font-size 16px
    line-height 19px
    color grayMedium
    
  &--grayLight14
    font-size 14px
    line-height 17px
    color grayLight
  
  &--grayLowLight30
    font-size 30px
    line-height 40px
    color grayLowLight
  &--grayLowLight18
    font-size 18px
    line-height 21px
    color grayLowLight
  &--grayLowLight16
    font-size 16px
    line-height 19px
    color grayLowLight
  &--grayLowLight14
    font-size 14px
    line-height 17px
    color grayLowLight
  &--grayLowLight12
    font-size 12px
    line-height 15px
    color grayLowLight
  
  &--black36
    font-size 36px
    line-height 39px
    color black
  &--black20
    font-size 20px
    line-height 23px
    color black
  &--black16
    font-size 16px
    line-height 19px
    color black
  
  &--fw800
    font-weight 800
  &--fw700
    font-weight 700
  &--fw600
    font-weight 600
  &--fw500
    font-weight 500
  &--fw400
    font-weight 400
  &--fw300
    font-weight 300
  &--fw200
    font-weight 200
    
  &--center
    text-align center
  &--right
    text-align right
  
  &--uppercase
    text-transform uppercase
    
  &--lh27
    line-height 27px
  &--lh24
    line-height 24px
    
@media(max-width 1190px)
  .text
    &--media1190-center
      text-align center
    
@media(max-width 1180px)
  .text
    &--media1180-center
      text-align center
      
@media(max-width 880px)
  .text
    &--media880-fs25
      font-size 25px
      line-height 28px
      
    &--media880-center
      text-align center
      
@media(max-width 670px)
  .text
    &--media670-fs18
      font-size 18px
      line-height 21px
      
@media(max-width 620px)
  .text
    &--media620-center
      text-align center
      
@media(max-width 600px)
  .text
    &--media600-center
      text-align center
      
@media(max-width 500px)
  .text
    &--media500-center
      text-align center
      
@media(max-width 490px)
  .text
    &--media490-fs25
      font-size 25px
      
@media(max-width 380px)
  .text
    &--media380-fs24
      font-size 24px
      line-height 27px
    
    &--media380-fs14
      font-size 14px
      line-height 17px
      
    &--media380-center
      text-align center
      